<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 学院列表 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<div class="page-content">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
          <!-- Main menu -->
          <li class="current"><a href="/academy_list"><i class="glyphicon glyphicon-home"></i>学院管理</a></li>
          <li ><a href="/major_list"><i class="glyphicon glyphicon-list"></i> 专业管理</a></li>
          <li><a href="/class_list"><i class="glyphicon glyphicon-tag"></i> 班级管理</a></li>
          <li><a href="/course_list"><i class="glyphicon glyphicon-file"></i>课程管理</a></li>
          <li><a href="/student_list"><i class="glyphicon glyphicon-user"></i>学生管理</a></li>
          <li><a href="/teacher_list"><i class="glyphicon glyphicon-pencil"></i>教师管理</a></li>
          <li><a href="/record_list"><i class="glyphicon glyphicon-th-list"></i>学生成绩管理</a></li>
          <li class="submenu">
            <a href="#">
              <i class="glyphicon glyphicon-cog"></i> 系统设置
              <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">新增学院</div>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" action="/add_academy/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="input1" class="col-sm-2 control-label">学院名称</label>
              <div class="col-sm-10">
                <input class="form-control" id="input1" placeholder="学院名称" name="name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="submit" formmethod="get" formaction="/academy_list" class="btn btn-default">返回</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}