{% extends "base.html" %}
{% load static %}
{% block title %}学生表查询{% endblock %}

{% block content %}
    <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">课程信息表</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">course tables</li>
                </ol>
            {% if message != '' %}
                <div class="alert alert-dark" role="alert">
                    {{ message }}
                </div>
            {% endif %}
                <p>

                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#advanced-screening" aria-expanded="false" aria-controls="advanced-screening">
                    高级筛选
                  </button>
                </p>
                <div class="collapse mb-4" id="advanced-screening">
                    <div class="card card-body mb-4">
                      <form method="post" action="{% url 'course_table' %}">
                          {% csrf_token %}
                          <div class="row">
                              <div class="col-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">用编号搜素</span>
                                        <input type="text" class="form-control" name="course_id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="\d*">
                                    </div>
                              </div>
                              <div class="col-3">
                                  <div class="input-group mb-3">
                                      <span class="input-group-text" id="inputGroup-sizing-default">用课程名称搜素</span>
                                      <input type="text" class="form-control" name="course_name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                  </div>
                              </div>
                              <div class="col-2">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="min_hours" name="min_hours" value="1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="\d+" required>
                                        <span class="input-group-text" id="inputGroup-sizing-default">学时上下限</span>
                                        <input type="text" class="form-control" id="max_hours" name="max_hours" value="99" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="\d+" required>
                                    </div>
                              </div>

                                    <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        const minHoursInput = document.getElementById('min_hours');
                                        const maxHoursInput = document.getElementById('max_hours');

                                        function validateHours() {
                                            const minHours = parseInt(minHoursInput.value, 10);
                                            const maxHours = parseInt(maxHoursInput.value, 10);

                                            if (minHours > maxHours || minHours <= 0 || maxHours <= 0) {
                                                minHoursInput.setCustomValidity('最小学时必须小于或等于最大学时，并且必须为正整数');
                                                maxHoursInput.setCustomValidity('最大学时必须大于或等于最小学时，并且必须为正整数');
                                            }
                                            else if (minHours > 99 || maxHours > 99) {
                                                minHoursInput.setCustomValidity('学时上限不能超过99');
                                                maxHoursInput.setCustomValidity('学时上限不能超过99');
                                            }
                                            else {
                                                minHoursInput.setCustomValidity('');
                                                maxHoursInput.setCustomValidity('');
                                            }
                                        }

                                        minHoursInput.addEventListener('input', validateHours);
                                        maxHoursInput.addEventListener('input', validateHours);
                                    });
                                    </script>

                              <div class="col-2">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="min_credit" name="min_credit" value="0.0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="\d+(\.\d{1})?" required>
                                        <span class="input-group-text" id="inputGroup-sizing-default">学分上下限</span>
                                        <input type="text" class="form-control" id="max_credit" name="max_credit" value="10.0" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" pattern="\d+(\.\d{1})?" required>
                                    </div>
                                </div>

                                <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    const minCreditInput = document.getElementById('min_credit');
                                    const maxCreditInput = document.getElementById('max_credit');

                                    function validateCredits() {
                                        const minCredit = parseFloat(minCreditInput.value);
                                        const maxCredit = parseFloat(maxCreditInput.value);

                                        if (minCredit > maxCredit || minCredit <= 0 || maxCredit <= 0) {
                                            minCreditInput.setCustomValidity('最小值必须小于或等于最大值，并且必须为正整数');
                                            maxCreditInput.setCustomValidity('最大值必须大于或等于最小值，并且必须为正整数');
                                        }
                                        else if (minCredit > 10 || maxCredit > 10) {
                                            minCreditInput.setCustomValidity('学分上限不能超过10');
                                            maxCreditInput.setCustomValidity('学分上限不能超过10');
                                        }
                                        else {
                                            minCreditInput.setCustomValidity('');
                                            maxCreditInput.setCustomValidity('');
                                        }
                                    }

                                    minCreditInput.addEventListener('input', validateCredits);
                                    maxCreditInput.addEventListener('input', validateCredits);
                                });
                                </script>



                                <div class="col-1">
                                  <select class="form-select" aria-label="Default select example" name="pre_course_filter">
                                      <option selected value="0">先修筛选</option>
                                      <option value="0">不筛选</option>
                                      <option value="1">仅有先修</option>
                                      <option value="2">仅无先修</option>
                                  </select>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" type="submit">搜索</button>
                                </div>



                          </div>


                      </form>


                  </div>
                </div>
            <style>
                #datatablesSimple th:nth-child(1), #datatablesSimple td:nth-child(1) {
                    width: 10%;
                }
                #datatablesSimple th:nth-child(2), #datatablesSimple td:nth-child(2) {
                    width: 30%;
                }
                #datatablesSimple th:nth-child(3), #datatablesSimple td:nth-child(3) {
                    width: 30%;
                }
                #datatablesSimple th:nth-child(4), #datatablesSimple td:nth-child(4) {
                    width: 15%;
                }
                #datatablesSimple th:nth-child(5), #datatablesSimple td:nth-child(5) {
                    width: 15%;
                }
            </style>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        课程信息表
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>课程编号</th>
                                    <th>课程名称</th>
                                    <th>先修课程</th>
                                    <th>学分</th>
                                    <th>课时</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>课程编号</th>
                                    <th>课程名称</th>
                                    <th>先修课程</th>
                                    <th>学分</th>
                                    <th>课时</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td>{{ course.Cno }}</td>
                                        <td>{{ course.Cname }}</td>
                                        <td>{{ course.get_cpno_name }}</td>
                                        <td>{{ course.Ccredit }}</td>
                                        <td>{{ course.Chours }} 课时</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>


{% endblock %}

