{% extends "base.html" %}
{% load static %}
{% block title %}删除记录{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            {% if table == "student" %}
            <h1 class="mt-4">学生表</h1>
            {% elif table == "course" %}
            <h1 class="mt-4">课程表</h1>
            {% elif table == "sc" %}
            <h1 class="mt-4">成绩表</h1>
            {% endif %}
            <ol class="breadcrumb mb-4">
                {% if table == "student" %}
                <li class="breadcrumb-item active">student tables</li>
                {% elif table == "course" %}
                <li class="breadcrumb-item active">course tables</li>
                {% elif table == "sc" %}
                <li class="breadcrumb-item active">sc tables</li>
                {% endif %}

            </ol>
            {% if message != '' %}
                <div class="alert alert-dark" role="alert">
                    {{ message }}
                </div>
            {% endif %}

        {% if table == 'student' %}
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    查找结果
                </div>
                <div class="card-body">
                    <table class="table">

                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>专业</th>
                                <th>操作</th>
                            </tr>


                        <tbody>

                        {% if student %}

                                <tr>
                                    <form method="post" action="{% url 'update' %}">
                                        {% csrf_token %}
                                        <td>
                                            <input disabled name="new_student_id" aria-label="Sizing example input" class="form-control" value="{{ student.Sno }}" type="text" pattern="\d{11}" title="Please enter exactly 11 digits">
                                        </td>
                                        <td><input name='student_name' aria-label="Sizing example input" class="form-control" value="{{ student.Sname }}" type="text"> </td>
                                        <td>
                                            <select class="form-select" aria-label="Default select example" name="student_gender">
                                                {% if student.Ssex == '男' %}
                                                <option value="男" selected>男</option>
                                                <option value="女">女</option>
                                                {% else %}
                                                <option value="男">男</option>
                                                <option value="女" selected>女</option>
                                                {% endif %}
                                            </select>
                                        </td>
                                        <td>
                                            <input aria-label="Sizing example input" name="student_age" class="form-control" value="{{ student.Sage }}" type="number" min="15" max="50" title="Please enter a number between 15 and 50">
                                        </td>
                                        <td>
                                            <select class="form-select" aria-label="Default select example" name="student_department">
                                                <option value="计算机科学与技术" {% if student.Sdept == "计算机科学与技术" %}selected{% endif %}>计算机科学与技术</option>
                                                <option value="软件工程" {% if student.Sdept == "软件工程" %}selected{% endif %}>软件工程</option>
                                                <option value="网络工程" {% if student.Sdept == "网络工程" %}selected{% endif %}>网络工程</option>
                                                <option value="信息安全" {% if student.Sdept == "信息安全" %}selected{% endif %}>信息安全</option>
                                                <option value="物联网工程" {% if student.Sdept == "物联网工程" %}selected{% endif %}>物联网工程</option>
                                                <option value="数字媒体技术" {% if student.Sdept == "数字媒体技术" %}selected{% endif %}>数字媒体技术</option>
                                                <option value="智能科学与技术" {% if student.Sdept == "智能科学与技术" %}selected{% endif %}>智能科学与技术</option>
                                                <option value="数据科学与大数据技术" {% if student.Sdept == "数据科学与大数据技术" %}selected{% endif %}>数据科学与大数据技术</option>
                                                <option value="网络空间安全" {% if student.Sdept == "网络空间安全" %}selected{% endif %}>网络空间安全</option>
                                                <option value="保密技术" {% if student.Sdept == "保密技术" %}selected{% endif %}>保密技术</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="hidden" name="student_id" value="{{ student.Sno }}">
                                            <input type="hidden" name="table" value="student">
                                            <input type="hidden" name="update" value="True">
                                            <button type="submit" class="btn btn-info ">确认修改</button>
                                        </td>
                                    </form>
                                </tr>

                        {% else %}
                            <tr>
                                <td colspan="5">No student found</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>

                </div>


            </div>
        {% elif table == 'course' %}
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    查找结果
                </div>
                <div class="card-body">
                    <table class="table">

                            <tr>
                                <th>课程编号</th>
                                <th>课程名称</th>
                                <th>先修课程</th>
                                <th>学分</th>
                                <th>课时</th>
                                <th>操作</th>
                            </tr>


                        <tbody>

                        {% if course %}

                                <tr>
                                    <form method="post" action="{% url 'update' %}">
                                        {% csrf_token %}
                                        <td>
                                            <input disabled name="new_course_id" aria-label="Sizing example input" class="form-control" value="{{ course.Cno }}" type="text" pattern="\d{11}" title="Please enter exactly 11 digits">
                                        </td>
                                        <td><input name='course_name' aria-label="Sizing example input" class="form-control" value="{{ course.Cname }}" type="text"> </td>
                                        <td><input name='pre_course_id' aria-label="Sizing example input" class="form-control" value="{{ course.Cpno }}" type="text"> </td>
                                        <td><input name='course_credit' aria-label="Sizing example input" class="form-control" value="{{ course.Ccredit }}" type="text"> </td>
                                        <td><input name='course_hours' aria-label="Sizing example input" class="form-control" value="{{ course.Chours }}" type="text"> </td>
                                        <td>
                                            <input type="hidden" name="course_id" value="{{ course.Cno }}">
                                            <input type="hidden" name="table" value="course">
                                            <input type="hidden" name="update" value="True">
                                            <button type="submit" class="btn btn-info ">确认修改</button>
                                        </td>
                                    </form>
                                </tr>

                        {% else %}
                            <tr>
                                <td colspan="5">No course found</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>

                </div>


            </div>





        {% elif table == 'sc' %}
            <div class="card mt-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    查找结果
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>课程</th>
                        <th>课程号</th>
                        <th>成绩</th>
                        <th>操作</th>
                        </tr>
                        <tbody>

                        {% if sc %}
                                <tr>
                                    <form method="post" action="{% url 'update' %}">
                                        {% csrf_token %}
                                        <td><input disabled name="new_student_id" aria-label="Sizing example input" class="form-control" value="{{ sc.Sno }}" type="text"></td>
                                        <td><input disabled name="new_student_name" aria-label="Sizing example input" class="form-control" value="{{ sc.student.Sname }}" type="text"></td>
                                        <td><input disabled name="new_course_name" aria-label="Sizing example input" class="form-control" value="{{ sc.course.Cname }}" type="text"></td>
                                        <td><input disabled name="new_course_id" aria-label="Sizing example input" class="form-control" value="{{ sc.Cno }}" type="text"></td>
                                        <td><input name="new_grade" aria-label="Sizing example input" class="form-control" value="{{ sc.Grade }}" type="text"></td>
                                        <td>
                                            <input type="hidden" name="student_id" value="{{ sc.Sno }}">
                                            <input type="hidden" name="course_id" value="{{ sc.Cno }}">
                                            <input type="hidden" name="table" value="sc">
                                            <input type="hidden" name="update" value="True">
                                            <button type="submit" class="btn btn-info ">确认修改</button>
                                        </td>
                                    </form>
                                </tr>

                        {% else %}
                            <tr>
                                <td colspan="5">No sc record found</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>

                </div>


            </div>
        {% endif %}


        </div>
    </main>




{% endblock %}